:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

button {
  @apply transition-colors;
}

code {
  @apply rounded bg-slate-800/10 py-px px-1;
}
