---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
---

<BaseLayout>
  <main class="h-screen flex items-center justify-center bg-gradient-to-tl from-amber-700 to-red-600">
    <div class="text-center text-white drop-shadow-lg">
      <h1 class="text-3xl font-semibold">
        Welcome to Metatags AI
      </h1>
      <p class="font-light">
        Follow development here: <a href="https://twitter.com/_lhermann" class="underline" rel="noopener">twitter.com/_lhermann</a>
      </p>
    </div>
  </main>
</BaseLayout>
