---
import BaseLayout from '../layouts/BaseLayout.astro'
import OgImageAdvanced from '../components/OgImageAdvanced.vue'
---

<BaseLayout title="og:image">
  <main class="h-screen w-screen">
    <OgImageAdvanced
      client:load
      class="h-screen w-screen"
    />
  </main>
</BaseLayout>
