---
import BaseLayout from '../layouts/BaseLayout.astro'
import MetatagsResult from '../components/MetatagsResult.vue'
---

<BaseLayout title="Result">
  <main class="p-20">
    <MetatagsResult client:only />
  </main>
</BaseLayout>
